* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
header{
  background-color:rgb(255, 255, 255);
}
header .navbar-nav a.nav-link{
  color:rgb(119, 119, 119);
}
header .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header .navbar-nav .active a.nav-link{
  color:rgb(68, 68, 68);
}
header .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header.bg-dark .navbar-nav a.nav-link{
  color:rgb(220, 220, 220);
}
header.bg-dark .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header.bg-dark .navbar-nav .active a.nav-link{
  color:rgb(255, 255, 255);
}
header.bg-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header + header{
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:rgb(238, 238, 238);
}
.row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.fdb-block .text-h1, .fdb-block h1{
  font-size:2.75rem;
  margin-bottom:0.5em;
  margin-top:0.3em;
  font-weight:400;
}
.fdb-block .col-fill-left{
  width:50%;
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  background-size:cover;
  background-position-x:center;
  background-position-y:center;
  z-index:1;
}
a{
  color:rgb(0, 123, 255);
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  background-color:transparent;
}
a:hover{
  color:rgb(0, 86, 179);
  text-decoration-line:underline;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
#iap9o{
  width:36.33%;
}
#i3nui{
  width:70%;
}
#ia7mf{
  padding:10px;
}
#i313l{
  color:#d983a6;
}
#irjas{
  width:84.15%;
}
#i60ki{
  width:70%;
}
#i17h3{
  width:30%;
  background-color:#c6ccec;
}
#io4mg{
  width:71.55%;
  background-color:#cbd0ec;
}
#ibsnz{
  width:42.93%;
}
#i2efu{
  width:79.25%;
  color:black;
  background-color:#929fe7;
}
#izbbg{
  padding:10px;
  box-shadow:0 0 5px 0 black ;
}
#iejr1{
  color:black;
  box-shadow:0 0 5px 0 black ;
}
#irnx1{
  width:30%;
}
#iv6v1{
  width:70%;
}
#iom1m{
  width:42.93%;
}
#io57t{
  width:30%;
}
#ilx7f{
  color:black;
  box-shadow:0 0 5px 0 black ;
}
#i5fq2{
  width:70%;
}
#iq96b{
  padding:10px;
  box-shadow:0 0 5px 0 black ;
}
#iblbk{
  width:79.25%;
  color:black;
  background-color:#929fe7;
}
#ig44x{
  width:36.33%;
}
#im7et{
  padding:10px;
}
#i06ar{
  width:84.15%;
}
#i51n5{
  color:#d983a6;
}
#iuc33{
  width:70%;
}
#i9i88{
  width:70%;
}
#i8p0v{
  width:42.93%;
}
#igbap{
  width:30%;
}
#ik8ux{
  color:black;
  box-shadow:0 0 5px 0 black ;
}
#ias9i{
  width:70%;
}
#iacm1{
  padding:10px;
  box-shadow:0 0 5px 0 black ;
}
#ivblk{
  width:79.25%;
  color:black;
  background-color:#929fe7;
}
#inf4i{
  width:36.33%;
}
#i1uil{
  padding:10px;
}
#ix4mb{
  width:84.15%;
}
#iqbap{
  color:#d983a6;
}
#i7pja{
  width:70%;
}
#ilbqn{
  width:70%;
}
@media (max-width: 768px){
  .cell{
    width:100%;
    display:block;
  }
}
